html {
    font-size: 100%; 
}

h1 {color: #343d46;
    text-align: center;
    font-size: 2.5rem;
} 
h2 {color: #343d46;
    font-size: 2rem;} 
h3 {color: #343d46;
    font-size: 1.5rem;} 

a {color:  #343d46;
    font-size: 1rem; }

a:hover {color: #807dba;}

body {background-color: #b0c5ce;
      color: #36454f;
      font-size: 1rem;}


nav {background-color: #344657;
    color:#ffffff;
     padding: 10px;
     margin-bottom: 30px;
}
nav a {color: #eeecec;}
nav a:hover {background-color: #65737e;}

.quote {float:right;}
.row1, .row2 {display: flex;}
.row1 div {
    flex:1;
    padding: 10px;
    }
.row2 div {
        padding: 10px;
    }

.col1 {flex:1; margin: 10px;}
.col2 {flex:2; margin: 10px;}
.col3 {flex:2; margin:10px;}
.col4 {flex:2; margin:10px;}
.row1 {background-color:#ffffff; margin: 20px; border-radius: 25px; }
.row2 {background-color:#ffffff; margin: 20px; border-radius: 25px;}
    
.flex1 img {width: 40px;}
.flex1 {
    display: flex;
    justify-content: space-around;
}
aside {
    background-color:#344657;
    border-radius: 25px;
    padding: 10px;
}

.sideheader {color: #ffffff;}
.sidebar {
    color: #ffffff;
    flex-basis: 25%;
}
.flex2 {display:flex;}
.icons {
    flex-basis: 75%;
}
p {padding: 10px;}
.blurb {
    display: flex;
    width: 75%;
}

.banner {max-width: 100%;}
.row2 {flex-wrap: wrap;}

@media screen and (max-width: 768px) {
    nav a {
        width: 100%;
        display: block;
        padding: 20 px;
    }
    span {display: none;}
  
  }

@media screen and (min-width: 769px) {
    
  
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }